/* BACKGROUNDS */
@media (orientation: portrait) {
  body {
    background: url('../background/portrait.jpg') no-repeat center center fixed;
    background-size: cover;
  }
}

@media (orientation: landscape) {
  body {
    background: url('../background/landscape.jpg') no-repeat center center fixed;
    background-size: cover;
  }
}
/*** HEADER ***/
.container {
    height: 100%; 
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 900px; /* Make the form bigger */
    padding: 30px;
    background: linear-gradient(135deg, #c2bab0, #c5bfb3);
    border-radius: 10px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
    /* margin-left: 250px; */
}

label {
    font-size: 40px; 
    margin-bottom: 10px;
    color: black;
}

input {
    padding: 20px;
    margin: 15px 0;
    font-size: 40px; /* Increase font size */
    width: 100%; /* Make the inputs fill the width of the form */
    border-radius: 5px;
    border: 1px solid #ccc;
}

