/* BACKGROUNDS */
@media (orientation: portrait) {
  body {
    background: url('../background/portrait.jpg') no-repeat center center fixed;
    background-size: cover;
  }
}

@media (orientation: landscape) {
  body {
    background: url('../background/score.jpg') no-repeat center center fixed;
    background-size: cover;
  }
}
/* PAGE WRAPPER (CENTERS CONTENT) */
.scoreboard-wrapper {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* SCOREBOARD BOX */
.scoreboard {
  background: linear-gradient(135deg, #c2bab0, #c5bfb3);
  padding: 30px 40px;
  border-radius: 16px;
  width: 90%;
  max-width: 900px;
  text-align: center;
  box-shadow: 0 0 25px rgba(41, 40, 40, 0.836);
}

/* TITLE */
.scoreboard h1 {
  margin-bottom: 20px;
  font-size: 32px;
  color: #000000;
}

/* TABLE */
table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 25px;
}

th, td {
  padding: 12px;
  border-bottom: 1px solid #000000;
}

th {
  background: linear-gradient(135deg, #c2bab0, #c5bfb3);
  color: #080808;
  font-size: 18px;
}

td {
  font-size: 25PX;
}

/* Common table row style */
tr {
  background: transparent; /* default background */
  transition: background 0.3s, color 0.3s;
}