<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="description" content="Top Players Scoreboard">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <link rel="shortcut icon" href="../background/favicon.ico" type="image/x-icon">

  <title>Score Board</title>

  <!-- GLOBAL FIRST -->
  <link rel="stylesheet" href="../css/global.css">
  <!-- PAGE CSS AFTER -->
  <link rel="stylesheet" href="../css/scoreboard.css">
</head>

<body>
  <div class="scoreboard-wrapper">

    <div class="scoreboard">

      <h1>🏆 Top 10 Players</h1>

      <table id="scoreTable">
        <thead>
          <tr>
            <th>Rank</th>
            <th>Name</th>
            <th>Time</th>
            <th>Moves</th>
          </tr>
        </thead>
        <tbody>
        </tbody>
      </table>

      <button id="homeBtn">⬅ Back to Home</button>

    </div>

  </div>

  <script src="../js/scoreboard.js"></script>
  <script src="../js/liveTheme.js"></script>
</body>
</html>
