<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="description" content="Thank you for playing!">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="shortcut icon" href="../background/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="../css/thanks.css">
    <link rel="stylesheet" href="../css/global.css">
    <title>Matching Game - Thanks</title>
</head>
<body>
    <div class="container">
        <!-- Winner Modal -->
        <div id="modal-win" class="modal-position winner-modal" style="display:none;">
            <div class="inner-modal"></div>
        </div>
        
        <!-- Time Up Modal -->
        <div id="modal-timeup" class="modal-position timeup-modal" style="display:none;">
            <div class="inner-modal"></div>
        </div>
    </div>
    <script src="../js/liveTheme.js"></script>
    <script src="../js/thanks.js"></script>
</body>
</html>