<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="description" content="Thank you for playing!">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="shortcut icon" href="../background/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="../css/thanks.css">
    <link rel="stylesheet" href="../css/global.css">
    <title>Matching Game - Thanks</title>
</head>
<body>
    <div class="container">
        <!-- Winner Modal -->
        <div id="modal-win" class="modal-position winner-modal" style="display:none;">
            <div class="inner-modal"></div>
        </div>
        
        <!-- Time Up Modal -->
        <div id="modal-timeup" class="modal-position timeup-modal" style="display:none;">
            <div class="inner-modal"></div>
        </div>
    </div>
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            let gameHistory = JSON.parse(localStorage.getItem("gameHistory")) || [];
            let gameData = gameHistory.length > 0 ? gameHistory[gameHistory.length - 1] : null;
        
            if (gameData) {
                console.log("Retrieved Game Data:", gameData);
        
                const gameTime = gameData.time || "00:00";
                console.log("Game Time:", gameTime);
        
                const timeInSeconds = gameTime.split(":").reduce((acc, time) => (60 * acc) + +time, 0);
        
                if (timeInSeconds <= 0) {
                    document.getElementById("modal-timeup").style.display = "flex";
                } else {
                    document.getElementById("modal-win").style.display = "flex";
                }
        
                setTimeout(() => {
                    window.location.href = "scoreboard.html";
                }, 5000);
            } else {
                console.log("No game data found in localStorage.");
            }
        });
    </script>
</body>
</html>